body{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,rgb(243, 234, 113),rgb(7, 32, 7));
    width:100%;
    height: 150px;
   
}
#logo p{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 0px;
    position: relative;
    bottom:  120px;
    left: 120px;
    text-shadow: 0 0 3px #034d22;

}

input[type="search"]{
    height: 30px;
    position: relative;
    bottom: -60px;
    margin-top: 80px;
    border-radius: 15px 0px 0px 15px;
    z-index: 1;
}
input[type="submit"]{
    height: 30px;
    position: relative;
    bottom: -60px;
    left: -50px;
    margin-top: 80px;
    border-radius: 0px 15px 15px 0px;
    z-index: 1;
}
#logo img{
    max-width:160px;
    border-radius: 50%;
    margin-top: -20px; 
    

}
#menu{
    margin-left: 80px;
}
#menu ul{
    display:flex;
    gap: 30px;
}
#menu ul li{
    list-style: none;
    display: inline-block;
}
#menu ul li a{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: capitalizes;
    letter-spacing: normal;
    color: #fff; 
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5%;
}
#menu ul li a:hover{
    background-color: #997616;
}
.page1{
    width: 100%;
    height: 1000px;
    background-image:url("image/ampoule.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: -50px 0px;
}
h1 marquee{
    text-align: center;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(248, 250, 252) ;
    padding: 150px;
    text-shadow: 0 0 10px #141414;
    position: relative;
    top: 50px;
}
footer ul li:hover{
    cursor: pointer;
    text-decoration:underline ;
}
footer{
    background-color: gray;
    font-size: 20px;
    height: 100px;
}
footer ul{
display: flex;
gap: 20px;
justify-content: end;
margin: -60px 20px;
}
    
footer ul li{
list-style: none;
}
footer ul li img{
    max-width: 45px;
    border-radius: 25%;
}
#insta{
    max-width: 35px;
}
footer h2{
    margin-left: 76%;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
marquee{
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: whitesmoke;
}
.page3 table tr th{
    border: #312b1b 1px solid;
    border-radius: 40%;
    font-size: 30px;
    background-color: #e9f7c9;
    } 
.page3 h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(22, 68, 3);
    text-align: center;
    position: relative;
    top: 20px;
}
.page3 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}
.page3 table{
    position: relative;
    left: 550px;
}
button{
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
    color: #076933;
    margin: 50px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    position: relative;
    top: 30px;
    color: #034d22;
    text-align: center;
}
button a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #997616;
}
button{
    position: relative;
    left: 700px;
    top: 25px;
    margin-bottom: 20px;

}