body{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,rgb(243, 234, 113),rgb(7, 32, 7));
    width:100%;
    height: 150px;
   
}
#logo p{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 0px;
    position: relative;
    bottom:  120px;
    left: 120px;
    text-shadow: 0 0 3px #034d22;

}

.recher input[type="search"]{
    height: 30px;
    position: relative;
    bottom: -90px;
    right: 50px;
    margin-top: 80px;
    border-radius: 15px 0px 0px 15px;
    z-index: 1;
}
.bouton input[type="submit"]{
    height: 30px;
    position: relative;
    bottom: -90px;
    right: 51px;
    margin-top: 80px;
    border-radius: 0px 15px 15px 0px;
    z-index: 1;
}
#logo img{
    max-width:160px;
    border-radius: 50%;
    margin-top: -20px; 
    

}
#menu{
    margin-left: 80px;
}
#menu ul{
    display:flex;
    gap: 30px;
}
#menu ul li{
    list-style: none;
    display: inline-block;
}
#menu ul li a{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: capitalizes;
    letter-spacing: normal;
    color: #fff; 
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5%;
}
#menu ul li a:hover{
    background-color: #997616;
}
.page1{
    width: 100%;
    height:500px;
    background-image:url("image/aff.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #997616;
    text-align: center;
    position: relative;
    top: 20px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #034d22;
    text-align: center;
    position: relative;
    top: 20px;
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 50px;
}
.partie li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.partie{
 position: relative;
 bottom: 40px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #034d22;
    position: relative;
   bottom: 30px;
    left: 50px;
}
#part div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 50px;
}
.x input{
    font-size:30px ;
    border-radius:10px ;
    margin-top: 30px;
}
.x{
    position: relative;
    bottom: 50px;
}
.A{
    position: relative;
    bottom: 45px;
}
.A input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.B{
    position: relative;
    bottom: 30px;
}
.B input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.C{
    position: relative;
    top: -10px;
}
.C input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.D{
    position: relative;
    top: 10px;
}
.D input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.E{
    position: relative;
    top: 40px;
}
.E input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.F{
    position: relative;
    top: 20px;
}
.F input{
    width: 10%;
    border-radius: 5px;
    height: 30px;
}

footer ul li:hover{
    cursor: pointer;
    text-decoration:underline ;
}
footer{
    background-color: gray;
    font-size: 20px;
    height: 100px;
}
footer ul{
display: flex;
gap: 20px;
justify-content: end;
position: relative;
top: -40px;
margin-left: 1120px;
}
    
footer ul li{
list-style: none;
}
footer ul li img{
    max-width: 45px;
    border-radius: 25%;
}
#insta{
    max-width: 35px;
}
footer h2{
    margin-left: 55%;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
marquee{
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: whitesmoke;
}